#This the the canonical lab .gitignore file

#ignore temp files
*~
rules

#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux
*.dvi
*.ps

#ignore junk files from compiling C code
*.o

#ignore junk files from compiling Haskell code
*.hi

#ignore junk files from compiling Java code
*.class

#ignore junk files from running the WACC compiler
*.s
*.ast

#ignore the WACC tempory test_files copy
testing/test_files/

#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc

#ignore generated folders
/bin
src/antlr/

#ignore eclipse files
.classpath
.externalToolBuilders/
.project
