src/wacc/symboltable/SymbolTable.java
src/wacc/visitor/SemanticErrorException.java
src/wacc/visitor/SyntacticErrorListener.java
src/wacc/visitor/Visitor.java
src/wacc/visitor/utils/ArrayType.java
src/wacc/visitor/utils/Type.java
src/wacc/visitor/utils/Utils.java
src/wacc/visitor/utils/BaseType.java
src/wacc/visitor/utils/PairType.java
src/wacc/visitor/utils/BaseLiter.java
src/wacc/visitor/SemanticVisitor.java
src/antlr/BasicLexer.java
src/antlr/BasicParser.java
src/antlr/BasicParserVisitor.java
src/antlr/BasicParserBaseVisitor.java
